In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("d:/fangwen_yangli_log.csv")
df.head()

         访问者IP        入口页面URL 访问者IP地理位置           访问时间  省份区号
0  60.191.38.*              /  中国 浙江 杭州  2018/4/2 0:00   NaN
1  60.191.38.*  /Default.aspx  中国 浙江 杭州  2018/4/2 0:00   NaN
2  60.191.38.*              /  中国 浙江 杭州  2018/4/2 0:00   NaN
3  60.191.38.*  /Default.aspx  中国 浙江 杭州  2018/4/2 0:00   NaN
4  60.191.38.*              /  中国 浙江 杭州  2018/4/2 0:00   NaN

In [7]:
page=list(df.iloc[:,1].values)
page[:10]

['/',
 '/Default.aspx',
 '/',
 '/Default.aspx',
 '/',
 '/Default.aspx',
 '/Data/FileList.aspx?MetaId=F5F68B35D6121B60E0430100007F0760',
 '/Data/FileList.aspx?Mdidnt=x00142224&MetaId=5FCE936597257199E05341015A0A18FE&type=qt',
 '/',
 '/Default.aspx']

In [8]:
len(page)

64050

In [10]:
pageset=set(page)
len(pageset)

14081

In [11]:
def wordcount(ary):
    count_dict = {}
    # 如果字典里有该单词则加1，否则添加入字典
    for str in ary:
        if str in count_dict.keys():
            count_dict[str]+= 1
        else:
            count_dict[str] = 1
    return count_dict

In [12]:
wc=wordcount(page)#关键词，数量
count_list=sorted(wc.items(),key=lambda x:x[1],reverse=True)# 降序排列
count_list[:30]

[('/', 8901),
 ('/Default.aspx', 8867),
 ('/Document/Map.aspx?MapId=EC7E1A7A78251954E0430100007F182E', 2603),
 ('/Map/list.aspx', 1395),
 ('/iframe/picScroll.aspx?&top&true&1&3', 993),
 ('/Distribute/DistributeList.aspx', 826),
 ('/Special/List.aspx', 617),
 ('/Data/list.aspx', 555),
 ('/UserCenter/Register.aspx', 342),
 ('/BigData/', 296),
 ('/Tools/List.aspx', 293),
 ('/Data/NewPublist.aspx', 232),
 ('/jsapi/arcgis/3.5/', 223),
 ('/UserCenter/VerifyCode.aspx', 220),
 ('/UserCenter/SsoCallback.aspx', 203),
 ('/Document/Map.aspx?MapId=EC7E1A7A75231954E0430100007F182E', 187),
 ('/Map/Detail.aspx?MapId=EC7E1A7A78241954E0430100007F182E', 168),
 ('/Distribute/Getgeo.ashx', 139),
 ('/Map/list.aspx?q=1%3A20%E4%B8%87%E5%9C%B0%E8%B4%A8%E5%9B%BE', 115),
 ('/Document/Map.aspx?MapId=EC7E1A7A78241954E0430100007F182E', 108),
 ('/Document/Map.aspx?MapId=EC7E1A7A7B541954E0430100007F182E', 99),
 ('/UserCenter/SsoActivation.aspx', 93),
 ('/Data/NewPub.aspx?dataType=0&year=2018&month=4&quarter=4', 90),
 ('/Document/', 87),
 ('/mytheme/hp.aspx?guid=57CB880F3E6C74B9E05341015A0A845C', 81),
 ('/Map/list.aspx?q=1%3A20%E4%B8%87%E6%B0%B4%E6%96%87%E5%9C%B0%E8%B4%A8%E5%9B%BE',
  80),
 ('/Map/Detail.aspx?MapId=242792D71B083041E05341015A0A7C47', 79),
 ('/News/NewsList.aspx?type=1', 72),
 ('/dizhen/dizhenSearch.ashx', 67),
 ('/Map/list.aspx?q=1%3A25%E4%B8%87%E5%9C%B0%E8%B4%A8%E5%9B%BE', 65)]