### 数据预处理

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

In [2]:
scikit_iris=datasets.load_iris()

In [3]:
iris=pd.DataFrame(data=np.c_[scikit_iris['data'],scikit_iris['target']],columns=np.append(scikit_iris.feature_names,['y']))

In [4]:
iris.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [5]:
scikit_iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [6]:
for key in scikit_iris.keys():#字典遍历
    print(key)

data
target
target_names
DESCR
feature_names

In [7]:
iris.isnull().head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False

In [8]:
iris.isnull().sum()#数据是否缺失

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
y                    0
dtype: int64

In [9]:
iris.groupby('y').count()#是否类别均衡

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
y
0.0                 50                50                 50                50
1.0                 50                50                 50                50
2.0                 50                50                 50                50

### 训练模型

In [10]:
X=iris[scikit_iris.feature_names]
X[0:3]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [11]:
y=iris['y']
y[:3]

0    0.0
1    0.0
2    0.0
Name: y, dtype: float64

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [13]:
res=knn.predict([[3,2,2,5]])
res

array([1.])

In [14]:
[scikit_iris.target_names[int(i)] for i in res]

['versicolor']

### 评估模型（正确率）

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=4)
knn=KNeighborsClassifier(n_neighbors=15) # 使用KNN分类
knn.fit(x_train,y_train) # 训练

y_predict_on_train=knn.predict(x_train) # 预测
y_predict_on_test=knn.predict(x_test)

In [17]:
from sklearn import metrics

In [18]:
metrics.accuracy_score(y_train,y_predict_on_train)

0.9910714285714286

In [19]:
metrics.accuracy_score(y_test,y_predict_on_test)

0.9736842105263158